@model CommerceFundamentalsWeb.SupportingClasses.NodeEntryCombo

<div>
    Nodes
    <ul>
        @foreach (var node in Model.nodes)
        {
            <li>
                <a href="@node.url">@node.name</a>
                <img src="@node.imageThumbUrl" alt="@node.name" />
            </li>
        }
    </ul>
</div>