@model CommerceFundamentalsWeb.Models.ViewModels.ShirtVariationViewModel

<div>
    <img src="@Model.image" alt="@Model.name" />
    <p>@Model.priceString</p>
    <label>Can be monogrammed?</label>
    @Html.CheckBoxFor(m => m.CanBeMonogrammed)
</div>