@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceFundamentalsWeb.Models.ViewModels.SearchResultViewModel
<div>
    <h2>Search result</h2>
</div>

<div>
    <b>Type specific:</b>
</div>

<div>
        FashionNodes:
        <ul>
            @foreach (var item in Model.Nodes)
            {
                <li>
                    @Html.ContentLink(item.ContentLink)
                </li>
            }
        </ul>

    </div>

    <div>
        FashionProducts:
        <ul>
            @foreach (var item in Model.Products)
            {
                <li>
                    @Html.ContentLink(item.ContentLink)
                </li>
            }
        </ul>

    </div>

    <div>
        FashionVariants:
        <ul>
            @foreach (var item in Model.Variants)
            {
                <li>
                    @Html.ContentLink(item.ContentLink)
                </li>
            }
        </ul>

        <div>
            <b>Generic (IContent)</b>
        </div>
        <ul>
            @foreach (var item in Model.AllContent)
            {
                <li>
                    @Html.ContentLink(item.ContentLink)
                </li>
            }
        </ul>

     <div>
        <b>Facets</b>
    </div>
    <div>
        <ul>
            @foreach (var item in Model.Facets)
            {
                <li>
                    @item
                </li>
            }
        </ul>
    </div>

    </div>
