@using EPiServer.Core

@model CommerceFundamentalsWeb.Models.ViewModels.NavigationViewModel

<h4>Cms</h4>
<b>@Html.ContentLink(ContentReference.StartPage)</b>
@foreach (var page in Model.CmsItems)
{
    if (page.VisibleInMenu)
    {
        <b>
            -:-
            @Html.ContentLink(page)
        </b>
    }
}

<br />
<h4>Commerce</h4>
@foreach (var item in Model.CommerceItems.Select((value, index) => new { value, index }))
{
    <b>
        @if (item.index != 0)
        {
            <span>-:-</span>
        }

        @Html.ContentLink(item.value)
    </b>
}