@using EPiServer.Commerce.Catalog.ContentTypes

@model CommerceFundamentalsWeb.Models.Catalog.ShirtProduct

@{
    var variants = Model.GetVariants();
}

<div>
    @Html.PropertyFor(m => m.MainBody)
    <ul>
        @foreach (var variant in variants)
        {
            <li>@Html.ContentLink(variant)</li>
        }
    </ul>
</div>